@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-black bg-white dark:bg-[#0f1011] dark:text-white transition-colors;
}

::-webkit-scrollbar {
  background: #1b1b1b;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #f83232;
  border-radius: 6px;
}
