@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: #11141b;
  color: white;
}


::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #3C72FF;
  border-radius: 6px;
}