@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  @apply bg-gray-900 text-white font-medium;
  -webkit-font-smoothing: antialiased;
}

.btn-header {
  @apply w-full text-center font-bold text-2xl mx-3 uppercase cursor-pointer hover:text-blue-500;
}

.active-link {
  @apply text-center font-bold text-lg mx-3 border-b-2 border-b-blue-500 uppercase;
}

.btn {
  @apply border-4 border-blue-500 rounded-2xl p-4 px-10 text-lg uppercase font-bold mx-5 flex items-center hover:border-blue-500 transition-colors;
}

.btn-mainbox {
  @apply border-2 md:border-4 border-blue-500 rounded-2xl py-2 w-[150px] md:w-full md:p-4 md:px-10 text-base md:text-lg uppercase m-1 font-bold flex items-center justify-center hover:border-red-500 transition-colors;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 10px #1b1b1b;
}

::-webkit-scrollbar-thumb {
  @apply bg-blue-500 rounded-md
}
