@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #0e0e0e;
  color: white;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 10px #1b1b1b;
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 60, 60);
  border-radius: 10px;
  transition: 0.5s;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(121, 11, 11);
  border-radius: 10px;
}
